pre{
  font-family: monospace;
  font-size: 14px;
  background-color: #23212c;
  border-radius: 25px;
  border: 2px solid #23212c;
  text-align: left;
  cursor: text;
  padding: 10px 20px;
  width: 50%;
  white-space: pre-wrap;
  word-wrap: break-word;
 }
.name{
  color: crimson;
}
.dot1 {
  height: 25px;
  width: 25px;
  background-color: #ff5f56;
  border-radius: 50%;
  display: inline-block;
}
.dot2 {
  height: 25px;
  width: 25px;
  background-color: #febc2e;
  border-radius: 50%;
  display: inline-block;
}
.dot3 {
  height: 25px;
  width: 25px;
  background-color: #27c93f;
  border-radius: 50%;
  display: inline-block;
}